<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.tvs">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        tools:node="merge"
        android:supportsRtl="true"
        android:theme="@style/Theme.TVS">

        <activity android:name=".SplashScreenActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".LoginActivity"/>
<!--            android:exported="true">-->
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
<!--        </activity>-->
        <activity android:name=".NguoiDungActivity"
            android:parentActivityName=".ListNguoiDungActivity" />
        <activity android:name=".TheLoaiActivity"
            android:parentActivityName=".ListTheLoaiActivity" />
        <activity android:name=".SachActivity"
            android:parentActivityName=".ListSachActivity" />
        <activity android:name=".TacGiaActivity"
            android:parentActivityName=".ListTacGiaActivity" />
        <activity android:name=".HoaDonActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ListNguoiDungActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".NguoiDungDetailActivity" />
        <activity android:name=".ChangePasswordActivity" />
        <activity android:name=".ListSachActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ListTheLoaiActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".HoaDonChiTietActivity"
            android:parentActivityName=".HoaDonActivity" />
        <activity android:name=".ListHoaDonActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ListHoaDonChiTietByIDActivity"
            android:parentActivityName=".HoaDonActivity" />
        <activity android:name=".ListTacGiaActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".ThongKeActivity"
            android:parentActivityName=".MainActivity" />
    </application>

</manifest>